<?xml version="1.0"?>
<config>
    <modules>
        <Lesti_Fpc>
            <version>0.1.3</version>
        </Lesti_Fpc>
    </modules>
    <global>
        <blocks>
            <fpc>
                <class>Lesti_Fpc_Block</class>
            </fpc>
        </blocks>
        <helpers>
            <fpc>
                <class>Lesti_Fpc_Helper</class>
            </fpc>
        </helpers>
        <models>
            <fpc>
                <class>Lesti_Fpc_Model</class>
            </fpc>
        </models>
        <cache>
            <types>
                <fpc translate="label,description" module="fpc">
                    <label><![CDATA[Fpc]]></label>
                    <description><![CDATA[Full Page Cache]]></description>
                    <tags><![CDATA[FPC]]></tags>
                </fpc>
            </types>
        </cache>
        <events>
            <catalog_product_save_after>
                <observers>
                    <fpc_catalog_product_save_after>
                        <class>fpc/observer</class>
                        <type>singleton</type>
                        <method>catalogProductSaveAfter</method>
                    </fpc_catalog_product_save_after>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <fpc_catalog_category_save_after>
                        <class>fpc/observer</class>
                        <type>singleton</type>
                        <method>catalogCategorySaveAfter</method>
                    </fpc_catalog_category_save_after>
                </observers>
            </catalog_category_save_after>
            <cms_page_save_after>
                <observers>
                    <fpc_cms_page_save_after>
                        <class>fpc/observer</class>
                        <type>singleton</type>
                        <method>cmsPageSaveAfter</method>
                    </fpc_cms_page_save_after>
                </observers>
            </cms_page_save_after>
            <model_save_after>
                <observers>
                    <fpc_model_save_after>
                        <class>fpc/observer</class>
                        <type>singleton</type>
                        <method>modelSaveAfter</method>
                    </fpc_model_save_after>
                </observers>
            </model_save_after>
        </events>
    </global>
    <frontend>
        <routers>
            <fpc>
                <use>standard</use>
                <args>
                    <module>Lesti_Fpc</module>
                    <frontName>fpc</frontName>
                </args>
            </fpc>
        </routers>
        <events>
            <customer_session_init>
                <observers>
                    <fpc_customer_session_init>
                        <class>fpc/observer</class>
                        <type>singleton</type>
                        <method>customerSessionInit</method>
                    </fpc_customer_session_init>
                </observers>
            </customer_session_init>
            <http_response_send_before>
                <observers>
                    <fpc_http_response_send_before>
                        <class>fpc/observer</class>
                        <type>singleton</type>
                        <method>httpResponseSendBefore</method>
                    </fpc_http_response_send_before>
                </observers>
            </http_response_send_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <fpc_core_block_abstract_to_html_after>
                        <class>fpc/observer</class>
                        <type>singleton</type>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </fpc_core_block_abstract_to_html_after>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <layout>
            <updates>
                <fpc>
                    <file>fpc.xml</file>
                </fpc>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_cache_refresh_type>
                <observers>
                    <fpc_adminhtml_cache_refresh_type>
                        <class>fpc/observer</class>
                        <type>singleton</type>
                        <method>adminhtmlCacheRefreshType</method>
                    </fpc_adminhtml_cache_refresh_type>
                </observers>
            </adminhtml_cache_refresh_type>
        </events>
    </adminhtml>
    <default>
        <system>
            <fpc>
                <cache_actions><![CDATA[cms_index_index,
cms_page_view,
catalog_product_view,
catalog_category_view]]></cache_actions>
                <dynamic_blocks><![CDATA[top.links,
cart_sidebar,
right.reports.product.viewed,
catalog.compare.sidebar,
wishlist_sidebar]]></dynamic_blocks>
                <lifetime>86400</lifetime>
                <use_recently_viewed_products>1</use_recently_viewed_products>
            </fpc>
        </system>
    </default>
</config>